@use "./typography" as *;
@use "./variables" as *;
@use "./mixins" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    font-family: $font-text;
    margin: 0;
    padding: 0;
  }

  .wrapper {
    right: 0;
    position: relative;
    width: 100%;
    transition: 0.5s;
    &.active {
      right: 300px;
    }
  }

  .link {
    text-decoration: none;
  }