.likeitem {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;

  &__img__wrapper {
    
      width: 70px;
      height: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
    
    img{
        max-width: 70px;
        max-height: 70px;
    }
   
  }

  &__name {
    font-size: 20px;
    flex-grow: 1;
  }

  &__delete {
    width: 30px;
    height: 30px;
    margin: auto 0;
  }
}
