@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;


.shop {
  position: relative;
  z-index: 10;
  padding: 36px 48px;
  height: 100vh;
  width: 100%;
}

.shops {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shops-list {
  padding:0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 80%;
  &__item {
    font-family: $font-title;

    &:hover {
      font-weight: 900;
      size: 32px;
    }

    &-active {
      font-family: $font-title;
      font-weight: 900;
      size: 28px;
    }

    a,
    &__link {
      text-decoration: none;
      color: white;
    }
  }
}
