.image-gallery {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url("../../assets/images/product-card-bg.jpeg");
    background-size: cover;
    width: 300px;
    height: 300px;
    
  }
  
  .image-gallery img {
    max-width:220px;
    max-height:220px;
    display: block;
  }
  
  .image-gallery button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }